	
	label.registration{
		display:inline-block;
		font-size:16px;
		margin-left:5px;
	}
	
	input.registration{
		width:450px;
		height:50px;
		font-size:24px;
		border:1px solid color:#808B96;
		display:block;
		margin-left:5px;
	}
	
	button.registration{
		width:450px;
		height:75px;
		margin-left:5px;
		background-color:#FFC300;
		color:black;
		border:none;
		font-size:24px;
	}
	
	b.registration{
		color:red;
		font-size:12px;
	}